VITE_EMAILJS_SERVICE_ID=service_3jbfxin
VITE_EMAILJS_TEMPLATE_ID=template_qtpblji
VITE_EMAILJS_PUBLIC_KEY=Censgt9tEuYHEW-cR
VITE_FORMSUBMIT_RECIPIENT=maturelion1@gmail.com
VITE_EMAIL_PROVIDER="formsubmit" # emailjs | formsubmit
